<section id="contact" ng-app="ContactForm">
	<div class="container">
		<div class="row">
		
			<div class="col-sm-12 text-center">
				<h2 class="headline blue">Contact</h2>
			</div>

			<div class="col-sm-8 offset-sm-2">
				{{ form_start(form, {
					'attr': {	
						'novalidate': 'novalidate',
						'ng-submit': 'contact_form.$valid && submit()',
						'ng-controller': 'ContactForm',
					}, }) 
				}}
					<div class="row">
						<div class="form-group col-sm-6">
							{{ form_widget(form.name) }}
							{{ form_widget(form.email) }}
							{{ form_widget(form.phone) }}
						</div>
						
						<div class="form-group col-sm-6">
							{{ form_widget(form.comments) }}
						</div>
						
						<div class="form-group col-sm-12 text-center">
							<button type="submit" id="contact_form_submit" name="contact_form[submit]" class="btn-contact btn">Send Message <i class="fas fas-submit fa-paper-plane"></i></button>
						</div>					

						<div class="form-group col-sm-8 offset-sm-2 text-center form-messages">
							<div ng-if="contact_form.$submitted && contact_form.$invalid">
								
								<div style="opacity: 1;" class="alert alert-danger animated shake mt-4 mb-0" role="alert">
									<div ng-messages="contact_form['contact_form[name]'].$error">
										<span ng-message="required">Name is required</span>
										<span ng-message="minlength">Name must be longer than 2 characters</span>
										<span ng-message="maxlength">Name must be shorter than 50 characters</span>
									</div>

									<div ng-messages="contact_form['contact_form[email]'].$error">
										<span ng-message="email">Please enter a valid email address</span>
										<span ng-message="required">Email is required</span>
									</div>

									<div ng-messages="contact_form['contact_form[phone]'].$error">
										<span ng-message="maxlength">Phone number must be shorter than 14 characters</span>
										<span ng-message="pattern">Phone number is invalid. ex: 914-555-5555</span>
									</div>
									
									<div ng-messages="contact_form['contact_form[comments]'].$error">
										<span ng-message="maxlength">Comments must be shorter than 300 characters</span>
									</div>
								</div>
							</div>

							<div ng-if="!contact_form.$submitted && formSuccess">
								<div style="opacity: 1;" class="alert alert-success animated bounceIn mt-4 mb-0" role="alert"> Thank You. Your message has been sent</div>
							</div>

							<div ng-if="formSuccess==false">
								<div class="alert alert-danger mt-4 mb-0" role="alert">{[{ errorResponse }]}</div>
							</div>

						</div>
					</div>
				{{ form_end(form) }}
			</div>

		</div><!-- .row end -->
	</div><!-- .container end -->
</section>