<section id="work">
	<div class="container">
		<div class="row">

			<div class="col-sm-12 text-center">
				<h2 class="headline blue">Work</h2>
			</div>

			{% for project in projects %}

				<!-- Work block -->
				<div class="col-12 col-sm-6 col-lg-3 animated" data-animation="flip-in-ver-right">
					<div class="work-block bg-default"
						{% if project.color %}
							style="background-color: {{ project.color }}"
						{% endif %}
					>
						<div class="work-block-logo v-center text-center">
							<img class="img-fluid" src="{{ asset('assets/img/uploads/logos/') }}{{ project.logo }}" alt="{{  project.name }}">
						</div>

						<div class="work-block-info text-center">
							<div class="v-center w-75">
								<span class="title">{{ project.name }}</span>
								<span class="description mb-3">{{ project.shortDescription }}</span>
								<a href="" data-toggle="modal" data-toggle="modal" data-target="#{{ project.slug }}" title="info">
									<i class="fas fa-info-circle fa-3x"></i>
								</a>
								{% if project.url %}
									<a href="http://{{ project.url }}" target="_blank" rel="nofollow" title="{{ project.url }}">
										<i class="fas fa-link fa-2x"></i>
									</a>
								{% endif %}
							</div>
						</div>

					</div>
				</div>
				<!-- Work block end -->

				<!-- Modal -->
				<div class="modal modal-custom fade" id="{{ project.slug }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content modal-lg">
							
							<div class="modal-header">							
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<i class="fas fa-times"></i>
								</button>
							</div>

							<div class="modal-body">
								<div class="container-fluid">
									<div class="row">
										<div class="col-sm-4 order-sm-12 pr-0 modal-info">
											
											<h3 class="modal-title">{{ project.name }}</h3>
											<hr>
											{{ project.description }}
											<hr>
											<h4>Technologies</h4>

											{% set resources = project.resources | split(',') %}
											<ul class="fa-ul work-tech">
												{% for resource in resources %}
													<li><span class="fa-li"><i class="fas fa-check-circle"></i></span>{{ resource }}</li>
												{% endfor %}
											</ul>

											{% if project.url %}
												<hr>
												<h4>URL</h4>
												<a href="http://{{ project.url }}" target="_blank" rel="nofollow">{{ project.url }}</a>
											{% endif %}

										</div>

										<div class="col-sm-8 order-sm-1 pr-4 pl-0">
											<img class="img-fluid" src="{{ asset('assets/img/uploads/') }}{{ project.image }}" alt="{{ project.name }}">
										</div>

									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<!-- Modal end -->

			{% endfor %}
		
		</div><!-- .row end -->
	</div><!-- .container end -->
</section>